.btn{
        padding-right: 80px;
        padding-left: 30px;
        border-radius: 0;
        color:#fff;
        text-transform: uppercase;
        background: #580141;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease 0s;
    }
.btn:before{
    content: "";
    width: 33%;
    height: 200%;
    position: absolute;
    top: 0;
    right: 0;
    margin: -5px 0 0 -5px;
    transform: rotate(-20deg);
    transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.btn:after{
    content: "\f061";
    font-family: 'FontAwesome';
    position: absolute;
    top:25%;
    right: 13%;
    display: block;
}
.btn:hover:before{
    width: 40%;
}
.btn:hover{
    color:#fff;
}