<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>列表页</title>
		<link rel="stylesheet" type="text/css" href="../static/css/head.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/shubiao.css"/>
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<script src="../static/jQuery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		
		<style type="text/css">
			.kuang{
				height: 300px;
				border: 10px ;
				padding: 50px;
			}
			.tupian{
				height: 200px;
				width: 350px;
			}
			.fudong{
				height: 50px;
				width: 100px;
				
			}
			body{
				background-image: url(../static/img/sea_of_clouds-wallpaper-5120x2880.jpg);
				background-size:100% 100%;
				background-attachment: fixed;
			}
		</style>
	</head>
	<body>
		
		<div class="container">
		   <h2 class="text-center">用户：{{userinfo}}</h2>
		   <div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="2000">
			  <ol class="carousel-indicators">
				 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				 <li data-target="#myCarousel" data-slide-to="1"></li>
				 <li data-target="#myCarousel" data-slide-to="2"></li>                
			  </ol>
			  <!--轮播项目-->
			  <div class="carousel-inner">
				  <div class="item active">
					   <div class="carousel-caption">标题 1</div>
					   <img src="../static/img/01040ed0a9b3ebf4e5ce0cb31c3a26fb76.jpg" alt="First">
					   
				  </div>
				  <div class="item">
						<div class="carousel-caption">标题 2</div>
						<img src="../static/img/01b7bc6705d1b8fa737a3b76f07811d69e.jpg" alt="Second">
					   
				  </div>
				  <div class="item">
						<div class="carousel-caption">标题 3</div>
						<img src="../static/img/010c78f9b5f3c0df87cc4a23257a922962.jpg" alt="Third" >
					   
				  </div>                                
			  </div>
			  <!--轮播导航-->
				  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				  </a>
			  </div>
		</div>
		
		
		 <form action="/querygood" method="post" style="margin-top: 50px;">
			
			 <div class="col-lg-4"></div>
			 <div class="col-lg-4">
				<div class="input-group">
					<input type="text" name="goodname" class="form-control"    placeholder="请输入商品名称，支持模糊查询...">
					<span class="input-group-btn">
						<input class="btn btn-default"   type="submit" value="搜索"/>
						<!-- <button  type="button">Go!</button> -->
					</span>
				</div>
			</div><!-- /input-group -->
				
		</form>
		
		
		<div class="container">
			
			{% for id,name in infoarray.items() %}
				<div class="col-lg-6 kuang">
					<!-- <div class="row"></div> -->
					<div class="col-lg-8 ">
						<div class="hovereffect">
							<img class="img-responsive tupian" src="{{name['good_img']}}" alt="{{name['good_name']}}">
							<div class="overlay">
							   <h2>{{name["good_name"]}}</h2>
							   <a class="info" href="/detail/{{id}}">查看详情</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 " style="">
						<div class="row" style="height: 130px;text-align: center;">
							<h4>简介</h4>
							<p>{{name["good_intro"]}}</p>
						</div>
						<div class="row" style="color: red;"><h1>价格:{{name["good_price"]}}</h1></div>
					</div>
				</div>
				
			{% endfor %}										
		</div>
		
		
		

		
		
		<div class="head">
			<div class="head_line">
				<div>
					<ul>
						
						<li><a href="/list">首页</a></li>
						{% if userinfo %}
						<li><a href="/addgood">添加商品</a></li>
						<li><a href="/removegood">删除商品</a></li>
						<li><a href="/quit">注销用户</a></li> 
						{% else %}
						<li><a href="/login">登录</a></li>         
						<li><a href="/regist">注册</a></li>
						{% endif %}
						
						
						<li><a href="#" onclick="javascript:history.back(-1)">返回</a></li>
					</ul>                                 
				</div>
			</div>
		</div>

		
		
	</body>
</html>
